{% extends "layout.html" %}

{% block title %}
  Information
{% endblock %}

{% block body %}
<div class="container_info">
  <div id="contenta"><p style="margin:1rem; font-size: 15pt;">
    Church Address:<br>
    "Little Church of The Virgin Mary<br>
    Trachilos, 734 00, Crete, Greece"<br><br>
    Feast Address:<br>
    Coordinates: 35.501540, 23.605779 <br>
    (copy the above^ into google maps!)<br>
    'Saint George's Churchyard', Neo Chorio,<br>
    734 00, Crete, Greece<br><br>
    *Note: Accurate GPS locations are provided on the homepage. Just click on either "ceremony" or "feast"!
  </p></div>

    <div id="contentb" class="cont" style="position: relative; height:400px;">
        <span class="hyperspan"></span>
      <div class="circle">
        <p style="font-family: satisfy, cursive; font-size: 40pt; color:white;">↞Locations</p>
      </div>  
    </div>

  <div id="contentc" class="cont" style="position: relative; height:400px;">
    <span class="hyperspan"></span>
    <div class="circle">
      <p style="font-family: satisfy, cursive; font-size: 40pt; color:white;">Travel↠</p>
    </div>  
  </div>
  
  <div id="contentd"><p style="margin:1rem; font-size: 15pt;">In the summer, flights over to Crete are very regular from Edinburgh, Manchester, Glasgow, and London. Chania airport is the nearest airport to Kissamos (the local town), so we recommend that you fly there!<br><br>
  You can rent a car from one of the many agents at the airport or within Kissamos, or alternatively, take a bus and/or taxi! The (airport to Kissamos) journey should take approximately an hour.<br><br>
  *you can fly to Heraklion airport, but the drive/bus will be nearer 3 hours!</p></div>
  
  <div id="contente"><p style="margin:1rem; font-size: 15pt;">For a convenient place to stay on your trip, we would suggest somewhere in Kissamos town, e.g. Maria Beach Hotel or similar! Most hotels in Kissamos are relatively near both the baptism and feast locations, provide a great breakfast, and have amazing beach areas.
  <br><br>If you're looking for something more succluded, there are plenty of Airbnbs around Kissamos and Kaliviani. We also suggest that you check out locations near "Falassarna", so you can enjoy the beautiful sunsets.
  </p></div>
  <div id="contentf" class="cont" style="position: relative; height:400px;">
    <div class="circle">
      <p style="font-family: satisfy, cursive; font-size: 40pt; color:white;">↞Accomodation</p>
    </div>  
  </div>

  <div id="contentg" class="cont" style="position: relative; height:400px;">
    <div class="circle">
      <p style="font-family: satisfy, cursive; font-size: 40pt; color:white;">Tourism↠</p>
    </div>  
  </div>
  
  <div id="contenth"><p style="margin:1rem; font-size: 15pt;">Some sightseeing ideas...
  <br>(a) Drive or take the ferry to Balos Beach.
  <br>(b) Take a drive to the nearby Elafonisi Beach.
  <br>(c) Go on a day trip to the famous Samaria Gorge (departures by bus available from Kissamos).
  <br>(d) Visit the city of Chania for the Venetian port, architecture, shopping, and restaurants.
  <br>(e) Travel to Heraklion and explore the Palace of Knossos, the largest Bronze Age archaeological site on Crete.
  <br>(f) Check out the town of Rethymnon and visit the Fortezza Castle.
</p></div>
  
<footer><p style="color:#333333; font-size: 10pt !important;">✉️ Person 1 -> name@domain.com<br>
  ✉️ Person 2 -> name@domain.com</p></footer>
</div>
{% endblock %}